<section class="serie-list">
  <h2 class="serie-cards">{{serie.name}}</h2>

  <ul >
    {{#each serie.id_cards}}
      <li class="question-li"><div class="question">
          <p>Question: {{this.question}}</p>
          <p>Answer: {{this.answer}}</p>

          <a href="/dashboard/edit/card/{{this._id}}"><i
              class="fa fa-pen"
            ></i></a>
          <a href="/dashboard/delete/card/{{this._id}}"><i
              class="fa fa-trash"
            ></i></a>
        </div>
      </li>
    {{/each}}

  </ul>
</section>