

    <div class="container">
   {{#each categories}}

      
        {{!-- <img src="../images/{{this.name}}.jpg" alt="{{this.name}}" > --}}
        <div class='background-image' style="background-image: url('../images/{{this.name}}.jpg');">
          <span class="action-link" data-id="{{this._id}}">{{this.name}}
            <ul class="super-list"></ul>
        </span>

        </div>
      
    
   {{/each}}
   </div>